//Ajax Search Lite
div#ajaxsearchpro1_1 {
    margin-bottom: 1em;
}
.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
// Page header
.promo {
    position: relative;
    overflow: hidden;
    .video-filter{
      color: rgba(255, 255, 255, 0.75);
      background-attachment: fixed, fixed, fixed;
      background-image:  linear-gradient(45deg, rgba(lighten($secondary-color, 10%), 0.5) 5%, rgba($primary-color, 0.5) 30%, rgba($secondary-color, 0.5));
      background-position: top left, center center;
      background-size: cover, cover;
      position: absolute;
      height: 100%;
      width: 100%;
    }
    #video_bg {
        position: absolute;
        // left: 50%;
        // top: 50%;
        min-width: 100vw;
        min-height: 100%;
        // -webkit-transform: translate(-50%,-50%);
        // -moz-transform: translate(-50%,-50%);
        // -ms-transform: translate(-50%,-50%);
        // transform: translate(-50%,-50%);
        z-index: 0;
        // -webkit-filter: none;
        // -moz-filter: none;
        // -ms-filter: none;
        // filter: none;
        height: auto;
        max-height: unset;
        video {
            height: unset;
        }
    }
    .full {
        //min-height: 100vh;
    }
    .custom-logo {
        max-height: 15rem;
        margin-left: auto;
        margin-right: auto;
        display: block;
        filter: drop-shadow(2px 2px 0px $black);
        @include breakpoint(medium) {
          max-height: 15rem;
        }
        @include breakpoint(small) {
          max-height: rem-calc(300)
        }
    }
    .message {
        z-index: 1;
        text-align: center;
        .callout{
          background-color: rgba($white, 0.5);
          .inline{
            display: inline;
          }
        }
        h1 {
          font-weight: bold;
          color: rgba($primary-color,0.8);
          text-shadow: 2px 2px 0 rgba(map-get($foundation-palette, primary2),0.8);
          @include breakpoint(medium) {
            font-size: 4rem;
          }
        }
        h2 {
          color: $secondary-color;
          text-shadow: 2px 2px 0 rgba(map-get($foundation-palette, secondary2),0.8);
          &.surrender {
            line-height: 1;
            border: 0;
            border-bottom: -0.8rem;
          }
        }
    }
    .contento {
        @include breakpoint(small) {
            height: auto;
            padding: rem-calc(10%) 0;
        }
        @include breakpoint(medium) {
            //height: rem-calc(685);
            //margin: 0 0 rem-calc(72);
        }
        .dwqa-btn {
            margin-top: 1rem;
        }
    }
}
//End del landing
// Intro
.message {
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 0;
    margin-bottom: 0;
    color: $primary-color;
    p {
        text-align: justify;
    }
    h1,
    h2,
    h3,
    h4 {
        text-align: center;
    }
    h2 {
        color: $blue-2;
        text-decoration: underline;
    }
    .semantic {
        color: $blue-2;
    }
    .icons {
        text-align: center;
    }
}
// Section divider
.section-divider {
    @include grid-row();
    overflow: hidden;
    hr {
        @include grid-column(12);
        @extend .dotted;
        box-sizing: border-box;
    }
}
//Testimonios
#home-dinamic {
    //globals
    // margin-bottom: 3rem;
    // a,
    // h1,
    // h2,
    // h3,
    p {
        color: $black;
    }
    #home-blog,
    #home-questions,
    #home-testimony {
        min-height: 10rem;
    }
    .section-header {
        position: relative;
        h1 {
            color: $white;
            width: 100%;
            &,
            .white {
                color: $blue-2;
            }
            border-bottom: 0.2rem solid $primary-color;
        }
        br {
            float: none;
            width: 100%;
            clear: both;
        }
    }
    //section1
    #home-questions {
        margin-bottom: 3rem;
        // max-width: $global-width;
        .question-container {
            //margin: 0;
            padding: 0;
            .blogpost-entry {
                @include flex-grid-column(shrink);
                padding-bottom: 0.7rem;
                margin-left: 1rem;
            }
        }
    }
    //section2
    #home-testimony {
        padding-bottom: 4rem;
        .section-header {
            position: relative;
            h1 {
                color: $white;
            }
        }
        background: $blue-2;
        .home-experiencia {
            background: $white;
            overflow: hidden;
            max-width: 100%;
            //margin: 0;
            padding: 0;
            @include flex-grid-column(12, 0);
            @include breakpoint(large) {

              @include flex-grid-column(5.9, 0);
            }
            .tumba {
                @include flex-grid-column(12, 0);
                @include flex-align-self();
                min-height: 15rem;
                background-size: cover;
                background-position: center;
                @include breakpoint(large) {
                     @include flex-grid-column(4, 0);
                }
            }
            .entry-excerpt {
                text-align: justify;
            }
        }
    }
    //section2
    #home-blog {
        padding-bottom: 3rem;
        .front-news {
            // @include flex-grid-row( collapse);
            max-width: 100%;
            display: block;
            //margin: 0;
            column-count:1;
            -webkit-column-count: 1;
            column-gap: 0;
            -webkit-column-gap: 0;
            @include breakpoint(large) {
              // @include flex-grid-column(4, 0);
              column-count: 3;
              -webkit-column-count: 3;
              column-gap: 0;
              -webkit-column-gap: 0;
            };
            .col-home-post {
                // @include flex-grid-column(4);
                background: $white;


            }
            .tumba {
                @include flex-grid-column(12,0);
                max-height: 20rem;
                overflow: hidden;
                img{
                  width: 100%;
                }
            }
            .fondo {
                padding: 1.3rem;
            }
        }
    }
}

//Call to action
#home-call {
    padding: 3rem;
    p {
        line-height: 1;
        padding: 0.85em 1em;
        margin: 0 0 1rem;
    }
    .big {
        color: $white;
        font-size: 3rem;
    }
}
//FQA
#home-fqa {
    .container {
        @include flex-grid-row(collapse, nested,$columns:12);
        @include flex-align(spaced, top);
        //:not(:first-child){
        // 	@include grid-column-offset(2);
        // }
        .home-q {
            padding: 0 !important;
            @include flex-grid-column(3);
            //@include grid-column-collapse;
            .callout {
                color: $white;
                background: $blue-1;
                border-radius: 0;
            }
        }
    }
}
