/*
 Theme Name: BP Members lists module
 Description: Styles BP members list views
 Author URI: https://buddypress.org/
	Version: 1.0
	JS support file: members-list-module-js.js
	Theme - tested to: twentyfifteen
 */

/* =====================================================
Members-list-panels is a small css snippet to provide
Styling of the members directory list entries as seen in
the main Members dir or in the
======================================================= */

// ## scss vars ##
// colors
$mlm-light-grey: map-get($foundation-palette, secondary2);
//


#buddypress {
 input{
	 font-size: inherit;
	 padding: inherit;
	 border: inherit;
    background: inherit;
    border-radius: inherit;
    color: inherit;
    font: inherit;
    font-size: inherit;
    padding: inherit;
		box-shadow:inherit;
		width: inherit;
		height: inherit;
 }
	.avatar {
		border-radius: 50%;
	}

	#members-list {
		// Mainly reset any values inherited and state some base
		// styles for small up.
		clear: both;
		padding-top: 15px;
		color: map-get($foundation-palette, white);
		@include flex-grid-row(nest);
		@include flex-align(center, middle);
		:after{
			content:  "\00a0";
		}

		// span.activity{
		// 	display: none;
		// }

		>li,
		>li .generic-button a {
			box-sizing: border-box;
		}

		>li {
			border-bottom: 0;
			padding-bottom: 0;
			padding-top: 0;

			.wrap {
				background: $mlm-light-grey;
				padding-bottom: 15px;
				overflow: hidden;
				padding-top: 14px;
			}

			.item-avatar {
				text-align: center;

				.avatar {
					display: inline-block;
					width: 50%;
				}
			}

			.item {
				font-size: 1.6rem;
				left: 0;
				margin: 0 auto;
				text-align: center;
				width: 96%;

				.item-title {
					display: inline-block;

					a {
						display: block;
						text-align: center;
					}

					.update {
						font-size: 1rem;
						text-align: left;
					}
				}

				.activity-read-more a {
					display: inline;
				}
			}

			div.action {
				float: none;
				margin: 0 5px;
				position: relative;
				text-align: center;

				.generic-button {
					display: block;
					float: none;
					margin: 0.2em 0;
				}
			}

			.item-avatar,
			.avatar,
			.item {
				float: none;
			}

		} // close li generic


		// Manage the li floated widths & spacing for two break points

		@media screen and (min-width: 38.75em) {

//	li.is-current-user {
//		.item {

//		}
//	}

			>li {
				float: left;
//				min-height: 450px;
				padding-bottom: 10px;
				width: 50%;

				&:nth-child(odd) {
					padding-right: 10px;
				}

				&:nth-child(even) {
					padding-left: 10px;
				}

				.item-meta {
					text-align: center;
				}

				.item {
					margin: 1rem auto 0;
					width: 80%;

					.item-title {
						width: auto;
					}
				}

				div.action {
					float: none;
					position: relative;
					text-align: center;

					.generic-button {
						display: inline-block;
						float: none;
						margin: 0.2em 0.2em;
					}
				}

			} // close >li
		} // close @media

		@media screen and (min-width: 59.6875em) {

			>li {
				padding-bottom: 15px;
				width: 33.3%;

				&:nth-child(1n+1) {
					padding-left: 5px;
					padding-right: 5px;
				}

				&:nth-child(3n+3) {
					padding-left: 10px;
					padding-right: 0;
				}

				&:nth-child(3n+1) {
					padding-left: 0;
					padding-right: 10px;
				}

//				.item {
//					.item-title {
						//min-height: 270px;
//					}
//				}

			} // close >li
		} // close @media

	} // close #members-list

} // close #buddypress
