#buddypress {
  li.activity-item{
    list-style: none;
    border: 1px solid $secondary-color;
    border-radius: $global-radius;
    margin-top: 1rem;
    padding: 1.3rem;
    @include flex-grid-row();
    .activity-avatar{
      width: auto;
      @include flex-grid-column(shrink);
    }
  }
  #object-nav, #subnav{
    ul{
      @include menu-base;
      @include menu-expand;
      border-top: 1px solid $primary-color;
      li{
        text-align: center;
        border-right: 1px solid $primary-color;
        &:nth-last-of-type(1){
          border-right: none;
        }
        &.current{
            background-color: $primary-color;
            a{
              color:$white;
            }
        }
      }
    }
  }
  #subnav{
    ul{
      border-top: 1px solid $secondary-color;
      li{
        border-right: 1px solid $secondary-color;
        &.current{
          background-color: $secondary-color;
        }
        &:nth-last-of-type(2){
          border-right: none;
        }
        a{
          color: $secondary-color;
        }
      }
      #activity-filter-select{
        display: none;
      }
    }
  }
    a.button,
    button {
      @include button();
    }
    #profile-edit-form {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        align-content: space-around;
        .editfield {
            display: flex;
            flex-direction: column;
            order: 2;
            flex-grow: 1;
            margin: 0.5em;
            padding: 1em;
            border-radius: $global-radius;
            border: 1px solid $blue-1;
        }
        .button-nav{
          width:100%;
        }
        .checkbox,.radio{
          label{
            color:$black;
            float: none;
            display: list-item;
            @extend .no-bullet;
            // font-weight: bold;
            @include form-element();
            // height: 2rem;
            padding: 0.2rem;
            input{
              width: auto;
              margin: 0;
            }
          }
        }
    }
    .standard-form {
        div.submit {
            clear: both;
            padding: 15px 0 0;
            flex-direction: column;
            order: 2;
            box-shadow: none;
            border: none;
        }
        input {
            background: $primary-color;
            font-size: large;
            font-weight: bold;
            margin: 1em;
            color: white;
            border: none;
        }
        input {
            width: 100%;
        }
        .input-options {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
        }
        .editfield.field_271.field_profesional.optional-field.visibility-adminsonly.alt.field_type_radio {
            text-align: center;
            display: flex;
            @include callout-base;
            .description {
                color: $blue-2;
                font-size: large;
                font-weight: 100;
            }
            .radio {
                padding: 0;
                legend {
                    padding: 0;
                    margin: 0;
                }
            }
            legend {
                text-align: center;
                &:after {
                    // content: "¿Es usted un profesional de la estética? No desaproveche esta oportunidad de ¡obtener más clientes! Inscríbase ahora, es Gratis";
                }
            }
        }
    }
    .field-visibility-settings,
    .field-visibility-settings-notoggle,
    .field-visibility-settings-toggle {
        display: none;
    }
}
#buddypress.spa_profile {
    @include flex-grid-row(collapse);
    @include flex-align(center);
    width: 100%;
    max-width: 100%;
    h4 {
        width: 100%;
    }
    #item-header {
        @include flex-grid-column(12,0);
    }
    #cover-image-container {
        @include flex-grid-row(nest collapse);
        @include flex-align(center, bottom);
        height: 35rem;
    }
    #header-cover-image {
        //cover fondo es un "a"
        height: 30rem;
        background-position: top center;
    }
    #item-header-cover-image {
        //Avatar
        @include flex-grid-column(shrink);
        #item-header-avatar {
            img.avatar {
                border-radius: 100%;
                float: none;
                margin: 0;
            }
        }
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: map-get($foundation-palette, primary);
        &.subheader {
            color: $blue-1;
        }
    }
    .spa_name {
        width: 100%;
        @include flex-grid-column(shrink);
        text-align: center;
        .member-social {
            display: inline-block;
        }
    }
    #spa_container {
      // font-size: large;
        margin-top: 2rem;
        @include breakpoint(medium) {

          @include flex-grid-column(11);
        }
        @include breakpoint(small) {
          @include flex-grid-column(12);
        }
        .spa_body {
          .spa_info{
            font-size: 1.5rem;
          }
            @include flex-grid-row(nest collapse);
            @include flex-align(justify, top);
            .spa_left {
              @include breakpoint(medium) {
                @include flex-grid-column(6);
                border-right: 0.21rem solid $blue-2;
              }
                @include breakpoint(small) {
                  @include flex-grid-column(12);
                }

                .spa_info {

                }
            }
            .spa_right {
              @include breakpoint(medium) {
                @include flex-grid-column(6);
              }
                @include breakpoint(small) {
                  @include flex-grid-column(12);
                }
                #tratamientos {
                    column-count: 1;
                    columns: 1;
                    font-size: 1.2rem;
                    line-height: 2.5;
                    @include breakpoint(small) {
                      column-count: 2;
                      column-gap: 2em;
                      columns: 2;
                    }
                }
                .testamentos{

                  font-size: 1.1rem;
                  line-height: 2.5;
                }
                .respuestas{
                  font-size: 1.1rem;
                  line-height: 2.5;
                }
            }
        }
        .comentario{}
    }
}
#buddypress {
    #members-treat {
        .rouge {
            @include flex-grid-row();
            @include flex-align(justify);
            .filter {
                @include button(false, $button-background, $button-background-hover, $button-color, hollow);
                @include flex-grid-column(shrink);
                //background-image: url(http://unsplash.com/photos/qH36EgNjPJY/download);
                //height: 10rem;
                span {
                    // font-size: large;
                }
            }
        }

        .member-prof {
            @include breakpoint(medium) {
                 @include flex-grid-column(4);
            }
            @include breakpoint(small) {
                 @include flex-grid-column(12);
            }
            &.mix {
                display: none;
            }
            .item-content {
                box-shadow: 2px 4px 5px 0 $black;
                transition: box-shadow 0.3s ease-in-out;
                &:hover {
                    box-shadow: 4px 8px 10px 0 $black;
                }
                @include flex-grid-row(nest);
                background: #fff;
                margin: 1.25rem;
                .item-avatar {
                    @include flex-grid-column(12,0);
                    a img {
                        width: 100%;
                    }
                }
                .item-title {
                    @include flex-grid-column(12);
                    text-align: center;
                }
                .item{
                  @include flex-grid-column(12);
                }
            }
        }
    }
}
