.sites-button {
  background: $blue-1;
  font-size: 1.25rem;
  font-weight: bold;
  box-shadow: 0 -2px 0 rgba($black,0.2) inset;
  border-radius: 3px;
  border: none;
}
.button-group{
  .button{
    border-radius: 0px;
  }
  :first-child {
    border-top-left-radius:10px;
    border-bottom-left-radius: 10px;
  }
  :last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}
.dwqa-btn{
  @include button();
   &.dwqa-btn-primary{
     @include button();
   }
}
.button-primary{
@include button();
}
