.article-card {
	//border: 1px solid $black;
	margin-bottom: 1.5rem;
	box-shadow: 2px 4px 5px 0px rgba($black, 0.5);
	.card-content {
		background: #fff;
		margin: 1.25rem;
		.post-author {
			text-align: center;
		}
		h4 {
			color: #CF000F;
		}
		p {
			color: #757D75;
		}
		a i {
			font-weight: 300;
			color: #757D75;
			margin: 0 .5rem;
			padding: 5px 7px 5px 7px;
			border: 1px solid #757D75;
			border-radius: 50%;
		}
		img.post-icon {
			position: absolute;
			width: 3rem;
			border-radius: 50%;
			margin-top: -3rem;
		}
	}
}
