.dotted {
  border-style: dashed;
  margin: 2rem 0;
}
article.widget{
  // border-bottom: 1px dashed $blue-1;
  margin-top: 1rem;
  h6{
    text-decoration: underline;
  }
}
.sidebrar{
  border-left: 1px dashed $blue-1;
}
