// Foundation for Sites by ZURB
// foundation.zurb.com
// Licensed under MIT Open Source

////
/// @group tuni
////

/// Border around tuni images.
/// @type Border
$tuni-border: solid 0px $black !default;

/// Bottom margin for tuni images.
/// @type Length
$tuni-margin-bottom: $global-margin !default;

/// Box shadow under tuni images.
/// @type Shadow
$tuni-shadow: 0 0 0 1px rgba($black, 0.2) !default;

/// Box shadow under tuni images.
/// @type Shadow
$tuni-shadow-hover: 0 0 6px 1px rgba($primary-color, 0.5) !default;

/// Transition proprties for tuni images.
/// @type Transition
$tuni-transition: box-shadow 200ms ease-out !default;

/// Default radius for tuni images.
/// @type Number
$tuni-radius: $global-radius !default;

/// Adds tuni styles to an element.
.tuni {
  border: $tuni-border;
  box-shadow: $tuni-shadow;
  display: block;
  width: 100%;
  line-height: 0;
  transition: $tuni-transition;
  border-radius: $tuni-radius;
  margin-bottom: $tuni-margin-bottom;
  overflow: hidden;
  height: 10em;
  &:hover,
  &:focus {
    box-shadow: $tuni-shadow-hover;
  }
  & img {
    min-width: 105%;
    max-width: 650px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    min-height: 25em;
    //padding-left: 100%;
    //margin:999em -100%
  }

}

/*@mixin foundation-tuni {
  .tuni {
    @include tuni;
  }
}*/
