#footer-container {
	max-width: 100%;
	width: 100%;
	margin: 0 auto;
	margin-top: rem-calc(60);
	background-color: $blue-2;
	color: white;
	#home-about{
		color: rgba(255, 255, 255, 0.75);
		box-shadow: 0px 10px 10px #000;
	}
	label{
		color:$white;
	}
	.button,[type="button"], [type="submit"]{
		background-color: $secondary-color;
	}
	a{
		color: $secondary-color;
	}
	#footer {
		.widget_sow-editor{
			// @include flex-grid-column(12);
		}
	}
}
