/* Navigation breakpoints */

.desktop-menu, .top-bar-left {
  @include show-for(medium);
}

#mobile-menu, .title-bar {
  @include hide-for(medium);
  .menu-icon{
    @include button($style: hollow);
    border: none;
    margin-bottom: 0;
  }
}

/* Mobile menu */

.off-canvas {
 > ul.menu {
    height: 100vh;
    padding: 1rem;
  }
}

.title-bar-title {
  a {
    font-size: 1rem;
    color: $white;
  }
}
.button.stronk{
  height: 3rem;
  border-radius: 0;
  vertical-align: middle;
  border: none;
  margin: 0;
  padding: 1em;
}
.menu-container{
  width: 100%;
  #site-navigation{
    @include flex-grid-row(collapse);
    @include flex-align(spaced,stretch);
    .top-bar-left{
      @include flex-grid-column(shrink);
    }
    .top-bar-right{
      @include flex-grid-column(shrink);

    }
  }

}
/* Tablet and desktop menu */
.top-bar {

  .custom-logo{
    height: 3rem;
  }
  .menu .home a {
    font-size: 1rem;
    // color: $black;
  }

  .menu a {
    height: 3rem;
    line-height: 45px;
    // color: $black;
    padding-top: 0;
    padding-bottom: 0;
    font-weight: bold;
    font-size: 0.8rem;
    line-height: 1;

    &:hover:not(.button) {
      background-color: $primary-color;
      color: $white;
      transition: ease-in-out 0.5s;
    }
  }

  .menu>li:not(.menu-text)>a {
    padding: 1rem;
    @include breakpoint(medium) {

      padding-left: 0.5rem;
      padding-right:  0.5rem;
    }
    @include breakpoint(small) {
      padding-left: 0.2rem;
      padding-right: 0.2rem;
    }
    @include breakpoint(xlarge) {
      padding: 1rem;
    }
  }
  .menu li:not(:last-child) { border-right: 1px solid $dark-gray; }

  .dropdown.menu .submenu {
    background-color: $white;
    color: $black;
    border: 0;
  }

  .dropdown.menu .has-submenu.is-down-arrow a { padding-right: 1rem; }
  .dropdown.menu .has-submenu.is-down-arrow > a::after { border: 0; }

  .dropdown.menu:first-child >
    li.is-dropdown-submenu-parent >
    a::after {
      display: none;
    }

  li.menu-item{
    .button{
      border-radius: 0px;
    }
    &.secondary{
      .button{
        @include button-style($secondary-color, auto, auto);
      }
    }
    &.primary2{
      .button{
        @include button-style($blue-2, auto, auto);
      }
    }
  }
}

.grandmenu{
  .sticky{

background-color: $white;
box-shadow: 3px 0px 3px;
}
}
/* Basic styles for post navigation. Nicolas Gallagher's "Micro clearfix" https://css-tricks.com/snippets/css/clear-fix/ */
.post-navigation:before,
.post-navigation:after {
	content: "";
    	display: table;
}
.post-navigation:after {
	clear:both;
}
/* Text meant only for screen readers. Addresses part of theme-check issue #840. https://github.com/Automattic/_s/blob/master/style.css */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}
.nav-previous {
	float:left;
}
.nav-next {
	float:right;
}
.top-bar-left{

  .custom-logo{
    margin-left: 1rem;
  }
}
.is-dropdown-submenu{
  transition: ease-in-out 0.5s;
  box-shadow: -2px 1px 2px $black;
  li{
    border-bottom: 1px solid  $black;
  }
}
