.sidebar {
  @include breakpoint(small) {
    @include grid-column(12);
  }

  @include breakpoint(medium) {
    @include grid-column(4);
    margin-top: 1rem;
  }
  .fondo {
    padding: 1em;
    text-align: center;
  }
}
ul.the_champ_login_ul {
    margin: 3px 0 !important;
    display: flex;
    width: 100%;
    flex: 1 0;
    justify-content: center;
}
.theChampLogin{
  border-radius: $global-radius;
}
