.lsow-pricing-table {
    .lsow-plan-header {
        background: $blue-2;
    }
    .lsow-top-header {
        background-color: $secondary-color;
        .lsow-text{
          background: none;
        }
    }
    .lsow-pricing-item {
        .lsow-title {
            color: $dark-gray;
        }
        .lsow-value-wrap::after{
          background-color: $blue-2;
        }
    }
    .lsow-pricing-plan {
        .lsow-purchase {
            padding: 0;
        }
        .lsow-button {
            @include button();
            @include button-expand();
            margin: 0;
            border-radius: 0;
            @include button-style($background: $secondary-color, $background-hover: darken($secondary-color, 30%), $color: $white);
            font-size: 1.25rem;
        }
    }
    .lsow-highlight {
      .lsow-plan-details {
        background: $light-gray;
      }
      .lsow-button {
        @include button();
        @include button-expand();
        @include button-style($background: $primary-color, $background-hover: darken($primary-color, 30%), $color: $white);
        font-size: 1.25rem;
        margin: 0;
        border-radius: 0;
      }
      &.lsow-pricing-plan{

        .lsow-purchase {
          padding: 0;
          // background-color:$primary-color;
        }
      }
    }
}
